.Navitem a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;


  
}
.active {
  /* border-bottom: 3px solid transparent; */

  border-bottom: 2px solid rgb(129, 0, 189);
}
.Navitem a:hover{
  background-color: rgba(224, 227, 196, 0.426);
  /* transition-duration: .5s; */
}


@media (max-width: 915px) {
  .Navitem {
    border-bottom: none;
    /* border-right: 5px solid transparent; */
    width: 220px;
  }
}