.Nav {
  background-color: rgb(9, 45, 207);
  
}
.Nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
